{
    "presets": [
      "latest",
      "bluebird"
    ],
    "plugins": [
      "transform-async-to-bluebird",
      "transform-promise-to-bluebird",
      "transform-runtime"
    ],
    "sourceMaps": true
  }
  